@using Presentation.Mappers.DtoViews.UserDtoViews
@model IEnumerable<UserFullDtoView>
<style type="text/css">
    table {
        font-family: Calibri,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blue;
    }
</style>

<br />
<form method="post">
    <table>
        <tr>
            <th><span>удалён</span></th>
            <th><span>ID</span></th>
            <th><span>логин</span></th>
            <th><span>дата</span></th>
            <th><span>мэйл</span></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        
        @foreach (var u in Model)
        {
            <tr>
                <td><input border="0" type="checkbox" asp-for="@u.IsDeleted" name="IsDeleted" value="@u.IsDeleted" /></td>
                <td><input disabled border="0" type="text" asp-for="@u.Id" name="Id" value="@u.Id" /></td>
                <td><input disabled border="0" type="text" asp-for="@u.Login" name="Login" value="@u.Login" /></td>
                <td><input disabled border="0" type="text" asp-for="@u.DateCreated" name="DateCreated" value="@u.DateCreated" /></td>
                <td><input border="0" type="text" asp-for="@u.Email" name="Email" value="@u.Email" /></td>

                <td><a href="/user/delete/@u.Id">исключить</a></td>
                <td><a href="/user/edit/@u.Id">обновить</a></td>
                <td><a href="/user/eraseuser/@u.Id">удалить</a></td>
            </tr>
        }
    </table>
    <button type="submit" action="/user/allupdate">выполнить</button>
</form>
<br>