@using Presentation.Mappers.DtoViews.UserDtoViews
@using Microsoft.AspNetCore.Mvc.Rendering
@using System.ComponentModel.DataAnnotations
@model List<UserFullDtoView>

<style type="text/css">
    table {
        font-family: Calibri,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blue;
    }
    table tr td{
        padding:5px;
    }
</style>
<br />

<form method="post" action="/user/allupdate">
    <table>
        <tr>
            <th><label>удалён</label></th>
            <th><label>ID</label></th>
            <th><label>логин</label></th>
            <th><label>дата</label></th>
            <th><label>роль</label></th>
            <th><label>мэйл</label></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td><input disabled Id="IsDeleted-@Model[i].Id" name="IsDeleted-@Model[i].Id" asp-for="@Model[i].IsDeleted" border="0" type="checkbox" checked="@Model[i].IsDeleted" /></td>
                <td><input disabled Id="Id-@Model[i].Id" name="Id-@Model[i].Id" asp-for="@Model[i].Id" border="0" type="datetime" value="@Model[i].Id" /></td>
                <td><input disabled Id="Login-@Model[i].Id" name="Login-@Model[i].Id" asp-for="@Model[i].Login" border="0" type="text" value="@Model[i].Login" /></td>
                <td><input disabled Id="DateCreated-@Model[i].Id" name="DateCreated-@Model[i].Id" asp-for="@Model[i].DateCreated" border="0" type="text" value="@Model[i].DateCreated" /></td>
                <td><input disabled Id="RoleUser-@Model[i].Id" name="RoleUser-@Model[i].Id" asp-for="@Model[i].Role?.RoleUser" border="0" type="text" value="@Model[i].Role?.RoleUser" /></td>
                <td><input disabled Id="Email-@Model[i].Id" name="Email-@Model[i].Id" asp-for="@Model[i].Email" border="0" type="text" value="@Model[i].Email" /></td>

                <td><a href="/user/delete/@Model[i].Id">активность</a></td>
                <td><a href="/user/edit/@Model[i].Id">изменить</a></td>
                <td><a href="/profile/edit/@Model[i].Id">профиль</a></td>
                <td><a style="color:crimson" href="/user/erase/@Model[i].Id">удалить</a></td>
            </tr>
        }
    </table>
    <button type="submit">выполнить</button>
</form>
<br>