@using Presentation.Mappers.DtoViews.UserDtoViews
@using Microsoft.AspNetCore.Mvc

@model UserFullDtoView
@{
    var dto = Model;
    Layout = ViewData["layot"] as string;
}

<h2>@ViewBag.Title</h2>
<hr />
<form method="post" action="/user/edit/@dto.Id">
    <table>
        <tr>
            <td><label class="lblClass">ID: </label></td>
        </tr>
        <tr>
            <td><input disabled name="Id" type="text" for="@dto.Id" value="@dto.Id" /></td>
        </tr>
        <tr>
            <td><label class="lblClass">Логин: </label></td>
        </tr>
        <tr>
            <td><input disabled name="Login" type="text" for="@dto.Login" value="@dto.Login" /></td>
        </tr>
        <tr>
            <td><label class="lblClass">Дата: </label></td>
        </tr>
        <tr>
            <td><input name="DateCreated" type="text" for="@dto.DateCreated" value="@dto.DateCreated" /></td>
        </tr>
        <tr>
            <td><label class="lblClass">Почта: </label></td>
        </tr>
        <tr>
            <td><input name="Email" type="text" for="@dto.Email" value="@dto.Email" /></td>
        </tr>
        <tr>
        </tr>
    </table>
    <button type="submit">Обновить</button>
</form>